@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-background: #0a0a0a; /* Sfondo quasi nero, molto profondo */
    --color-foreground: #e8e8e8; /* Bianco non puro, più morbido */
    --color-muted: #888888;      /* Grigio per testi secondari */
    --color-primary: #a37f4a;    /* Il nostro accento oro/bronzo */
    --color-dark-surface: #1a1a1a; /* Un nero leggermente meno profondo */

    --font-family-sans: 'Inter', sans-serif;
    --font-family-serif: 'Cormorant Garamond', serif;
}
